<form #participantSearchForm="ngForm">
  <div class="form-group radio-inline">
    <label><input type="radio" name="searchBy" id="searchBy" [(ngModel)]="searchBy" value="name" checked (change)="search()">Search by Name</label>
  </div>
  <div class="form-group radio-inline">
    <label><input type="radio" name="searchBy" id="searchBy" [(ngModel)]="searchBy" value="id" (change)="search()">Search by Id</label>
  </div>
  <div class="form-group">
    <label for="field">Name/Id</label>
    <input type="text" class="form-control" #field="ngModel" id="field" name="field" [(ngModel)]="participant"
      [class.is-invalid]="field.invalid && field.touched"  required minlength="3" (keyup)="detectTyping()">
    <small class="text-danger" [class.d-none]="field.valid || field.untouched">Minimum 3 characters before search can trigger.</small>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>College</th>
        <th>Bitotsav Id</th>
      </tr>
    </thead>
    <tbody #tbody>
      
    </tbody>
  </table>
</form>