#before, #after {
    position: absolute;
    z-index: 5;
    height: 100px;
    width: 50px;
    color: white;
    font-size: 160%;
    text-align: center;
    line-height: 100px;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  #gallery {
    overflow-x: hidden;
    overflow-y: hidden;
    margin: 0;
    padding: 0;
  }
  
  #album img {
    width: 100%;
  }
  
  #ul1 img {
    cursor: pointer;
    width: 100%;
    box-shadow: 2px 2px 10px black;
  }
  
  #gallery > img {
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    width: 120%;
    height: auto;
    -webkit-filter: blur(20px) grayscale(50%);
    -moz-filter: blur(20px) grayscale(50%);
    -o-filter: blur(20px) grayscale(50%);
    -ms-filter: blur(20px) grayscale(50%);
    filter: blur(20px) grayscale(50%);
  }
  
  #album {
    margin: 5px auto;
    margin-top: 20px;
    width: 80%;
    max-width: 500px;
  }
  
  #before {
    color: rgba(255, 255, 255, 0.8);
    background: linear-gradient(to right, black, transparent);
  }
  #before:hover {
    text-shadow: 0 0 15px white;
  }
  
  #after {
    color: rgba(255, 255, 255, 0.8);
    right: 0;
    background: linear-gradient(to left, black, transparent);
  }
  #after:hover {
    text-shadow: 0 0 15px white;
  }
  
  #div1 {
    position: relative;
    margin: auto;
    height: 113px;
    width: 80%;
    max-width: 600px;
    overflow: hidden;
  }
  
  #div1 ul {
    position: absolute;
    left: 0px;
  }
  
  #div1 ul li {
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    float: left;
    width: 120px;
    list-style: none;
    margin: 5px 8px;
    opacity: 0.8;
  }
  #div1 ul li:hover {
    transform: scale(1.1);
    opacity: 1;
  }
  
  .fadeIn {
    -webkit-animation-name: fadeIn;
    -webkit-animation-duration: 0.5s;
    animation-name: fadeIn;
    animation-duration: 0.5s;
  }
  
  .none {
    opacity: 0;
  }
  
  @-webkit-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  