.section-project {
    padding: 50px 0;
    position: relative;
    background-color: rgb(255, 251, 0);
  }

  .section__title, .section__subtitle {
    text-align: center;
    color: white;
    display: block;
  }

  .section__title {
    font-size: 3em;
    line-height: 1;
    margin: 0 0 20px;
  }

  .section__subtitle {
    font-size: 1.2em;
    line-height: 1.5;
    opacity: .5;
  }
  .section__subtitle a {
    color: inherit;
  }

  .project-carousel {
    position: relative;
  }

  .project-strip {
    margin: 150px 0 150px;
    -webkit-filter: blur(10px);
            filter: blur(10px);
  }
  .project-strip .project {
    cursor: pointer;
  }
  .project-strip img {
    max-width: 100%;
    width: 100%;
    height: auto;
  }

  .project-screen {
    width: 360px;
    height: 360px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }
  .project-screen .project-detail {
    position: absolute;
    left: 0;
    right: 0;
    width: 360px;
    height: 360px;
    margin:32px auto;
    z-index: 1;
    background-color: #333;
  }
  .project-screen .screen-frame {
    content: " ";
    width: 360px;
    height: 360px;
    position: absolute;
  }
  .project-screen .project {
    margin-right: -100%;
    float: left;
    cursor: move;
  }
