html, body {
    position: relative;
    margin: 0;
    width: 100%;
  }
  #image {
    width: 1400px;
    height: auto;
    min-height: 100vh;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    background-size: 150% auto;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url('../img/asiamap.png');
  }
  

  
#container {
  max-width: 1024px;
  margin: auto;
}

#monitor {
	background: #000; 
	position: relative;
	border-top: 3px solid #888; 
	margin: 5%;
	padding: 2% 2% 4% 2%; 
	border-radius: 10px; 
	border-bottom-left-radius: 50% 2%; 
	border-bottom-right-radius: 50% 2%; 
	transition: margin-right 1s;
}

#monitor:after {
	content: '';
	display: block;
	position: absolute;
	bottom: 3%;
	left: 36%;
	height: .5%; 
	width: 28%;
	background: #ddd; 
	border-radius: 50%; 
	box-shadow: 0 0 3px 0 white; 
}

#monitorscreen {
	position: relative;
  background-color: #777;
	background-size: cover; 
	background-position: top center;
	height: 0; 
	padding-bottom: 56.25%; 
	position: relative;
	overflow: hidden;
}


@media all and (min-width: 960px) {
	#monitor {
		-webkit-animation: tvflicker .2s infinite alternate; 
		-moz-animation:    tvflicker .5s infinite alternate; 
		-o-animation:      tvflicker .5s infinite alternate; 
		animation:         tvflicker .5s infinite alternate; 
	}

	@-webkit-keyframes tvflicker {
	  0%   { box-shadow: 0 0 100px 0 rgba(200,235,255,0.4); }
	  100% { box-shadow: 0 0 95px 0 rgba(200,230,255,0.45); }
	}
	@-moz-keyframes tvflicker {
	  0%   { box-shadow: 0 0 100px 0 rgba(225,235,255,0.4); }
	  100% { box-shadow: 0 0 60px 0 rgba(200,220,255,0.6); }
	}
	@-o-keyframes tvflicker {
	  0%   { box-shadow: 0 0 100px 0 rgba(225,235,255,0.4); }
	  100% { box-shadow: 0 0 60px 0 rgba(200,220,255,0.6); }
	}
	@keyframes tvflicker {
	  0%   { box-shadow: 0 0 100px 0 rgba(225,235,255,0.4); }
	  100% { box-shadow: 0 0 60px 0 rgba(200,220,255,0.6); }
	}
}

.icon {
  color: #ffffff;
  margin-bottom: 50px;
  padding: 10px;
}

.icon:hover {
  size: 120%;
  background-color: #ffffff;
  color: #000;
  border: 1px solid #FFF;
  border-radius: 100%;
  cursor: pointer;
}

.box {
  background-color: rgba(0,0,0,0.0);
  padding: 10vh;
  border: 1px #FFF solid;
  border-radius: 5px;
  box-shadow: #FFF;
  max-height: 60vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.box > p {
  color: #FFF;
  font-family: 'Montserrat', sans-serif;

  font-size: 15px;
  text-align: justify;
}

.box > li {
  color: white;color: #FFF;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  text-align: justify;
}
.box > h3 {
  color: #ddd;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  text-align: center;
  padding-bottom: 5px;
}

::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	background-color: #000000;
	border: 2px solid #555555;
}

.next{
  position: fixed;
  right: 10px;
  bottom: 10px;
  z-index: 11;
}

.previous{
  position: fixed;
  left: 10px;
  bottom: 10px;
  z-index: 11;
}

.event-item{
  color: lightyellow;
  padding: 50px;
}

.event-item > p{
  padding: 10px;
}

.event-item:hover {
  color: #fff;
  cursor: pointer;
  transform: scale(1.5);
}


/*Events Page */
.wrapper {
  background: -webkit-linear-gradient(right, #c56f82, #497ccb);
  background: linear-gradient(270deg, #c56f82, #497ccb);
  height: 100vh;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

/* -------------------------------------------------------------------------
   begin Scroll Down Button
 * ------------------------------------------------------------------------- */
button.scroll_down {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  height: 50px;
  width: 30px;
  bottom: 60px;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 20px;
  cursor: pointer;
  outline: none;
}
button.scroll_down:before {
  position: absolute;
  top: 10px;
  left: 50%;
  content: '';
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: #fff;
  border-radius: 100%;
  -webkit-animation: scroll_down_btn-animation 2s infinite;
  animation: scroll_down_btn-animation 2s infinite;
  box-sizing: border-box;
}

@keyframes scroll_down_btn-animation {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes scroll_down_btn-animation {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(0, 20px);
    transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

/* -------------------------------------------------------------------------
   end Scroll Down Button
 * ------------------------------------------------------------------------- */


  /* Event page starts here */
 .disable-scroll{
  margin: 0; height: 100%; overflow: hidden;
}
.events-background{
  position: relative;
  height:-webkit-fill-available;
  background-image:url('../img/events-background.jpg');
  background-size:cover;
  background-position-y: center;
  background-repeat: no-repeat;
  opacity:1;
  margin: 0;
  z-index: 2;
}
/*@media screen and (max-width: 444px){
    .events-background {
        background-position-x: -30vw;
    }
}*/


.events-cover-background{
  opacity: 0.4;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  z-index:2;
  height: -webkit-fill-available;
  min-width: 100%;

	background: linear-gradient(-45deg, rgb(238, 119, 82,1), rgb(231, 60, 126,1),
  rgb(35, 166, 213,1), rgb(35, 213, 171,1));
	background-size: 400% 400%;
	-webkit-animation: Gradient 3s ease infinite;
	-moz-animation: Gradient 3s ease infinite;
	animation: Gradient 3s ease infinite;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

  .event-content{
    position:relative;
    z-index:4;
    max-height: -webkit-fill-available;
    overflow: scroll;
  }

 .heading {
  font-family: 'Staatliches', cursive;
  font-family: 'Anton', sans-serif;
  font-size: 8vw;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgb(228, 228, 228);
  transition: font-size 0.3s;
}
.heading::first-letter {
  color: #ff0000;
}
.event-card-group{

  position: relative;
  overflow: scroll;
}
::-webkit-scrollbar {
  width: 0px; /*remove scrollbar space*/
  background: transparent optional; /*just make scrollbar invisible */
}
@media screen and (max-width: 576px){
  
  /* div.event-card-group{
   
    max-height: 100%;
  } */
  div.event-card{
    cursor: pointer;
    margin: 4vw 0vw 3vw 34vw;
    height: 30vw;
    width : 30vw;
  }
  div.event-card .infos .title {
    font-size: 4.5vw;
  }

}
.event-card {
  cursor: pointer;
  float: left;
  margin: 1vw 0vw 3vw 6vw;
  width: 12vw;
  height: 12vw;
  border-radius: 234vw;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}


div.event-card .thumb {
  height: inherit;
  width: inherit;
  background: url("../img/amit_trivedi.jpg") no-repeat center;
  background-size: 100%;

}
div.event-card .infos {
  background-color: #FCE601;
  width: inherit;
  height: inherit;
  position: relative;
  padding: 14px 24px;
  transition: 0.4s 0.15s cubic-bezier(0.17, 0.67, 0.5, 1.03);
}
div.event-card .infos .title {
  text-align: -webkit-center;
  position: relative;
  margin: 3vw 0vw 0 -1vw;
  color: #152536;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.5vw;
  text-transform: uppercase;
  text-shadow: 0 0 0px #32577f;
}

div.event-card:hover .infos {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}
div.event-card:hover .infos .seats, div.event-card:hover .infos .txt, div.event-card:hover .infos .details {
  opacity: 1;
}

/* -------------------------------------------------------------------------
   begin Scroll Down Button
 * ------------------------------------------------------------------------- */
 button.scroll_down {
   z-index: 10;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  height: 50px;
  width: 30px;
  bottom: 60px;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 20px;

  outline: none;
}
button.scroll_down:before {
  position: absolute;
  top: 10px;
  left: 50%;
  content: '';
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: #fff;
  border-radius: 100%;
  -webkit-animation: scroll_down_btn-animation 2s infinite;
  animation: scroll_down_btn-animation 2s infinite;
  box-sizing: border-box;
}

@keyframes scroll_down_btn-animation {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes scroll_down_btn-animation {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(0, 20px);
    transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

/* -------------------------------------------------------------------------
   end Scroll Down Button 
 * ------------------------------------------------------------------------- */

#back{
  z-index: 100;
  margin: 1.5vw;
  display: none;
  background-size: 100%;
  width: 3vw;
  position: absolute;
  height: 3vw;
  cursor: pointer;
  background-image: url(../img/back-icon.png);
}

.modal{
  min-height:55vw;
  max-height:55vw;
  margin-top: 15vw;
  overflow-y: hidden;
}

/* event page ends here */

.div-shift{
  display: none;
}
@media only screen and (max-width: 500px) {
  .sidenav{
      display: none;
  }
}


body,
html{
    overflow: hidden;
    margin: 0;
    padding: 0;
}

/* make sidebar nav vertical */ 
@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

.sponsor-img{
  width: 10vw;
  margin: 33px;
}
@media screen and (max-width: 767px){

.sponsor-img{
  width: 52vw;
}
  
}



/* colors */
/* tab setting */
/* breakpoints */
/* selectors relative to radio inputs */


.tabs {
left: 50%;
-webkit-transform: translateX(-50%);
        transform: translateX(-50%);
position: relative;
color: white;
width: 100%;
height: 80vh;
box-shadow: 0 14px 28px rgba(207, 109, 252, 0.25), 0 10px 10px rgba(176, 92, 255, 0.22);
border-radius: 5px;
}

#theme-content {
  height: 100%;
  background: rgb(21, 0, 37); /* Fallback color */
background: rgba(24, 0, 41, 0.137);
}

#theme-content img {
  width: 33px;
  height: 33px;
}

.tabs .content section {
  padding: 0 10px;
}

.tabs-social {
  background-image: url( "../img/varanasi.png");
}

.tabs-theme {
  background-image: url( "../img/asia_background.png");
}

.tabs-campaign {
  background-image: url( "../img/local_train.jpg");
}

.tabs input[name="tab-control"] {
display: none;
}
.tabs .content section h2,
.tabs ul li label {
font-family: "Montserrat";
font-weight: bold;
font-size: 18px;
color: #428BFF;
}
.tabs ul {
  padding-top: 50px;
list-style-type: none;
padding-left: 0;
display: flex;
flex-direction: row;
margin-bottom: 10px;
justify-content: space-between;
align-items: flex-end;
flex-wrap: wrap;
}
.tabs ul li {
box-sizing: border-box;
flex: 1;
width: 25%;
padding: 0 10px;
text-align: center;
}
.tabs ul li label {
transition: all 0.3s ease-in-out;
color: #929daf;
padding: 5px auto;
overflow: hidden;
text-overflow: ellipsis;
display: block;
cursor: pointer;
transition: all 0.2s ease-in-out;
white-space: nowrap;
-webkit-touch-callout: none;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}
.tabs ul li label br {
display: none;
}
.tabs ul li label svg {
fill: #929daf;
height: 1.2em;
vertical-align: bottom;
margin-right: 0.2em;
transition: all 0.2s ease-in-out;
}
.tabs ul li label:hover, .tabs ul li label:focus, .tabs ul li label:active {
outline: 0;
color: #bec5cf;
}
.tabs ul li label:hover svg, .tabs ul li label:focus svg, .tabs ul li label:active svg {
fill: #bec5cf;
}
.tabs .slider {
position: relative;
width: 33%;
transition: all 0.33s cubic-bezier(0.38, 0.8, 0.32, 1.07);
}
.tabs .slider .indicator {
position: relative;
width: 50px;
max-width: 100%;
margin: 0 auto;
height: 4px;
background: #428BFF;
border-radius: 1px;
}
.tabs .content {
margin-top: 30px;
}
.tabs .content section {
display: none;
-webkit-animation-name: content;
        animation-name: content;
-webkit-animation-direction: normal;
        animation-direction: normal;
-webkit-animation-duration: 0.3s;
        animation-duration: 0.3s;
-webkit-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out;
-webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
line-height: 1.4;
}
.tabs .content section h2 {
color: #428BFF;
display: none;
}
.tabs .content section h2::after {
content: "";
position: relative;
display: block;
width: 30px;
height: 3px;
background: #428BFF;
margin-top: 5px;
left: 1px;
}
.tabs input[name="tab-control"]:nth-of-type(1):checked ~ ul > li:nth-child(1) > label {
cursor: default;
color: #428BFF;
}
.tabs input[name="tab-control"]:nth-of-type(1):checked ~ ul > li:nth-child(1) > label svg {
fill: #428BFF;
}
@media (max-width: 600px) {
.tabs input[name="tab-control"]:nth-of-type(1):checked ~ ul > li:nth-child(1) > label {
  background: rgba(0, 0, 0, 0.08);
}
}
.tabs input[name="tab-control"]:nth-of-type(1):checked ~ .slider {
-webkit-transform: translateX(0%);
        transform: translateX(0%);
}
.tabs input[name="tab-control"]:nth-of-type(1):checked ~ .content > section:nth-child(1) {
display: block;
}
.tabs input[name="tab-control"]:nth-of-type(2):checked ~ ul > li:nth-child(2) > label {
cursor: default;
color: #428BFF;
}
.tabs input[name="tab-control"]:nth-of-type(2):checked ~ ul > li:nth-child(2) > label svg {
fill: #428BFF;
}
@media (max-width: 600px) {
.tabs input[name="tab-control"]:nth-of-type(2):checked ~ ul > li:nth-child(2) > label {
  background: rgba(172, 73, 253, 0.08);
}
}
.tabs input[name="tab-control"]:nth-of-type(2):checked ~ .slider {
-webkit-transform: translateX(100%);
        transform: translateX(100%);
}
.tabs input[name="tab-control"]:nth-of-type(2):checked ~ .content > section:nth-child(2) {
display: block;
}
.tabs input[name="tab-control"]:nth-of-type(3):checked ~ ul > li:nth-child(3) > label {
cursor: default;
color: #428BFF;
}
.tabs input[name="tab-control"]:nth-of-type(3):checked ~ ul > li:nth-child(3) > label svg {
fill: #428BFF;
}
@media (max-width: 600px) {
.tabs input[name="tab-control"]:nth-of-type(3):checked ~ ul > li:nth-child(3) > label {
  background: rgba(0, 0, 0, 0.08);
}
}
.tabs input[name="tab-control"]:nth-of-type(3):checked ~ .slider {
-webkit-transform: translateX(200%);
        transform: translateX(200%);
}
.tabs input[name="tab-control"]:nth-of-type(3):checked ~ .content > section:nth-child(3) {
display: block;
}
.tabs input[name="tab-control"]:nth-of-type(4):checked ~ ul > li:nth-child(4) > label {
cursor: default;
color: #428BFF;
}
.tabs input[name="tab-control"]:nth-of-type(4):checked ~ ul > li:nth-child(4) > label svg {
fill: #428BFF;
}
@media (max-width: 600px) {
.tabs input[name="tab-control"]:nth-of-type(4):checked ~ ul > li:nth-child(4) > label {
  background: rgba(0, 0, 0, 0.08);
}
}
.tabs input[name="tab-control"]:nth-of-type(4):checked ~ .slider {
-webkit-transform: translateX(300%);
        transform: translateX(300%);
}
.tabs input[name="tab-control"]:nth-of-type(4):checked ~ .content > section:nth-child(4) {
display: block;
}
@-webkit-keyframes content {
from {
  opacity: 0;
  -webkit-transform: translateY(5%);
          transform: translateY(5%);
}
to {
  opacity: 1;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}
}
@keyframes content {
from {
  opacity: 0;
  -webkit-transform: translateY(5%);
          transform: translateY(5%);
}
to {
  opacity: 1;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}
}

@media (min-width: 1000px) {
  .content p {
      font-size:0.9em;
  }
  .content h3 {
      font-size: 1.2em;
  }
  #social-content p {
      font-size:1.2em;
  }
  #social-content h3 {
      font-size: 1.4em;
  }
  #campaign-content p{
      font-size: 1.2em;
  }
}
@media (max-width: 1000px) {
.tabs ul li label {
  white-space: initial;
}
.tabs ul li label br {
  display: initial;
}
.tabs ul li label svg {
  height: 1.5em;
}
.content p {
    font-size:0.8em;
}
.content h3 {
  font-size: 1em;
}
#social-content p {
  font-size:1.1em;
}
#social-content h3 {
  font-size: 1.2em;
}
#campaign-content p{
  font-size: 1.2em;
}
}

@media (max-width: 800px) {
  .content p {
      font-size:0.6em;
  }
  .content h3 {
      font-size: 0.9em;
  }
  #social-content p {
      font-size:0.8em;
  }
  #social-content h3 {
      font-size: 1.1em;
  }
  #campaign-content p{
      font-size: 0.9em;
  }
}

@media (max-width: 500px) {
.tabs ul li label {
  padding: 5px;
  border-radius: 5px;
}
.tabs ul li label span {
  display: none;
}
.tabs .slider {
  display: none;
}
.tabs .content {
  margin-top: 20px;
}
.tabs .content section h2 {
  display: block;
}
.content p {
  font-size:0.5em;
  }
  .content h3 {
      font-size: 0.8em;
  }
  #social-content p {
      font-size:0.6em;
  }
  #social-content h3 {
      font-size: 1.1em;
  }
  #campaign-content p{
      font-size: 0.8em;
  }
}


#before, #after {
  position: absolute;
  z-index: 5;
  height: 100px;
  width: 50px;
  color: white;
  font-size: 160%;
  text-align: center;
  line-height: 100px;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#gallery {
  overflow-x: hidden;
  overflow-y: hidden;
  margin: 0;
  padding: 0;
}

#album img {
  width: 100%;
}

#ul1 img {
  cursor: pointer;
  width: 100%;
  box-shadow: 2px 2px 10px black;
}

#gallery > img {
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  width: 120%;
  height: auto;
  -webkit-filter: blur(20px) grayscale(50%);
  -moz-filter: blur(20px) grayscale(50%);
  -o-filter: blur(20px) grayscale(50%);
  -ms-filter: blur(20px) grayscale(50%);
  filter: blur(20px) grayscale(50%);
}

#album {
  margin: 5px auto;
  margin-top: 20px;
  width: 80%;
  max-width: 500px;
}

#before {
  color: rgba(255, 255, 255, 0.8);
  background: linear-gradient(to right, black, transparent);
}
#before:hover {
  text-shadow: 0 0 15px white;
}

#after {
  color: rgba(255, 255, 255, 0.8);
  right: 0;
  background: linear-gradient(to left, black, transparent);
}
#after:hover {
  text-shadow: 0 0 15px white;
}

#div1 {
  position: relative;
  margin: auto;
  height: 113px;
  width: 80%;
  max-width: 600px;
  overflow: hidden;
}

#div1 ul {
  position: absolute;
  left: 0px;
}

#div1 ul li {
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  float: left;
  width: 120px;
  list-style: none;
  margin: 5px 8px;
  opacity: 0.8;
}
#div1 ul li:hover {
  transform: scale(1.1);
  opacity: 1;
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 0.5s;
  animation-name: fadeIn;
  animation-duration: 0.5s;
}

.none {
  opacity: 0;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


/* Planes */
#two_planes {
  animation: rotating 4s linear infinite; 
  transform-origin: 50% 50%;
  transform-style: preserve-3D;
  display: block;
  max-width:60%;
  max-height:60%;
  width: auto;
  height: auto;
  position: absolute;
  /*top: 10%;*/
  transform: translateY(-50%);
}

@-webkit-keyframes rotating {
  from{
      -webkit-transform: rotate(0deg);
  }
  to{
      -webkit-transform: rotate(360deg);
  }
}

@keyframes rotating {
  from{
      -webkit-transform: rotate(0deg);
  }
  to{
      -webkit-transform: rotate(360deg);
  }
}

/* Style the mother earth */

#mother_earth {
  display: block;
  max-width:60%;
  max-height: 60%;
  width: auto;
  height: auto; 
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
}