html, body {
    position: relative;
    margin: 0;
  }
  #image {
    width: 1400px;
    height: auto;
    min-height: 100vh;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    background-size: 150% auto;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url('../img/asia-political-map.jpg');
  }
  