<div class="row">
  <div class="col-md-4">
  </div>
  <div class="col-md-4">
    <div class="container-fluid">
      <div class="question">
        Id:
      </div>
      <div class="answer">
        {{participantData.id}}
      </div>
      <div class="question">
        Name:
      </div>
      <div class="answer">
        {{participantData.name}}
      </div>
      <div class="question">
        Email:
      </div>
      <div class="answer">
        {{participantData.email}}
      </div>
      <div class="question">
        Phone Number:
      </div>
      <div class="answer">
        {{participantData.phno}}
      </div>
      <div class="question">
        Gender:
      </div>
      <div class="answer">
        {{participantData.gender}}
      </div>
      <div class="question">
        College:
      </div>
      <div class="answer">
        {{participantData.college}}
      </div>
      <div class="question">
        Rollno:
      </div>
      <div class="answer">
        {{participantData.rollno}}
      </div>
      <div class="question">
        Year:
      </div>
      <div class="answer">
        {{participantData.year}}
      </div>
      <div class="question">
        Email OTP:
      </div>
      <div class="answer">
        {{participantData.emailOTP}}
      </div>
      <div class="question">
        Phone OTP:
      </div>
      <div class="answer">
        {{participantData.phoneOTP}}
      </div>
      <div class="question">
          Team Name:
        </div>
        <div class="answer">
          {{participantData.teamName}}
        </div>
      <div class="question">
        Events:
      </div>
      <div class="answer">
        <table class="table table-stripped">
          <thead>
            <tr>
              <td>Event Id</td>
              <td>Event Name</td>
              <td>Team Leader</td>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let event of participantData.events">
              <td>{{event.eventName}}</td>
              <td>{{event.eventId}}</td>
              <td>{{event.teamLeaderId}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="question">
        Payment:
      </div>
      <div class="answer">
        {{participantData.payment | json}}
      </div>
    </div>
    <br>
    <br>
  </div>
</div>