nav {
    background-color: #222;
    margin-top: -10px;
    margin-left: -20px;
    width: 50%;
    height: 100%;
    color: #EEE;
}

a {
    color: #EEE;
}

a:hover {
    cursor: pointer;
    color: #999;
}