<div class="row">
  <div class="col-md-6">
    <h1 style="text-align: center">Instructions</h1>
    <hr>
    <ul>
      <li>This section is used to send SMS using TD-BITSAV.</li>
      <li>Phone number must be 10 digits long.</li>
      <li>Message must contain maximum 140 characters.</li>
      <li>Current cost of each SMS: Rs. 0.30.</li>
    </ul>
    <hr>
  </div>
  <div class="col-md-6">
    <form #SMSForm="ngForm" (submit)="onSubmit(SMSForm)">
      <div class="form-group">
        <label for="phno">Phone Number</label>
        <input type="number" class="form-control" #phno="ngModel" id="phno" name="phno" [(ngModel)]="phnoData"
          [class.is-invalid]="phno.invalid && phno.touched" required pattern="^[0-9]{10}$">
        <small class="text-danger" [class.d-none]="phno.valid || phno.untouched">Phone number must be 10 digits
          long.</small>
      </div>
      <div class="form-group">
        <label for="msg">Message</label>
        <textarea type="text" class="form-control" #msg="ngModel" id="msg" name="msg" [(ngModel)]="msgData" required
          [class.is-invalid]="msg.invalid && msg.touched" maxlength="140"></textarea>
        <small class="text-danger" [class.d-none]="msg.valid || msg.untouched">Message must not be empty and maximum 140
          characters</small>
      </div>
      <button type="submit" [disabled]="SMSForm.form.invalid" class="btn btn-primary">Submit</button>

    </form>
  </div>
</div>