<div class="row">
  <div class="col-md-6">
    <h1 style="text-align: center">Instructions</h1>
    <hr>
    <ul>
      <li>This section is used to send PM to those who are logged in to app.</li>
      <li>Message must contain maximum 500 characters.</li>
    </ul>
    <hr>
  </div>
  <div class="col-md-6">
    <form #pmForm="ngForm" (submit)="onSubmit(pmForm)">
      <div class="form-group">
        <label for="id">Bitotsav Id</label>
        <input type="text" class="form-control" #id="ngModel" id="id" name="id" [(ngModel)]="bitotsavId"
          [class.is-invalid]="id.invalid && id.touched" pattern="BT19/1[0-9]{4}" required>
        <small class="text-danger" [class.d-none]="id.valid || id.untouched">Bitotsav Id is required</small>
      </div>
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" #title="ngModel" id="title" name="title" [(ngModel)]="titleData"
          [class.is-invalid]="title.invalid && title.touched" required>
        <small class="text-danger" [class.d-none]="title.valid || title.untouched">Title is required</small>
      </div>
      <div class="form-group">
        <label for="msg">Message</label>
        <textarea type="text" class="form-control" #msg="ngModel" id="msg" name="msg" [(ngModel)]="msgData" required
          [class.is-invalid]="msg.invalid && msg.touched" maxlength="500"></textarea>
        <small class="text-danger" [class.d-none]="msg.valid || msg.untouched">Message must not be empty and maximum 500
          characters</small>
      </div>
      <button type="submit" [disabled]="pmForm.form.invalid" class="btn btn-primary">Submit</button>

    </form>
  </div>
</div>