<form *ngIf="display">
  <div class="form-group">
    <label for="eventId">Event Id</label>
    <select class="form-control" id="eventId" #eventId="ngModel" name="eventId" [(ngModel)]="currentEventId"
      [class.is-invalid]="eventId.invalid && eventId.touched" required (change)="onChange(eventId.value)">
      <option *ngFor="let event of events" value="{{event.eventId}}">{{event.eventId}} - {{event.eventName}}</option>
    </select>
    <small class="text-danger" [class.d-none]="eventId.valid || eventId.untouched">Event Id is required.</small>
  </div>
  <pre>
    {{eventData | json}}
  </pre>
</form>
<br>