<div class="row">
  <div class="col-md-6">
    <h1 style="text-align: center">Instructions</h1>
    <hr>
    <ul>
      <li>This section is used to update payment details of participants primarily for non-BITians.</li>
      <li>Enter the Bitotsav Id and fetch the details from the server. Then check the fields whichever apply and submit.</li>
      <li>The change will automatically be reflected on user's profile.</li>
    </ul>
    <hr>
  </div>
  <div class="col-md-6">
    <form #paymentForm="ngForm" (submit)="onSubmit(paymentForm)">
      <div class="form-group">
        <label for="id">Bitotsav Id</label>
        <input type="text" class="form-control" #id="ngModel" id="id" name="id" [(ngModel)]="bitotsavId"
          [class.is-invalid]="id.invalid && id.touched" [disabled]="isDisabled" required>
        <small class="text-danger" [class.d-none]="id.valid || id.untouched">Bitotsav Id is required</small>
      </div>
      <div class="form-group" *ngIf="isDisabled == true">
        <div class="checkbox">
          <label><input #day1="ngModel" id="day1" name="day1" [(ngModel)]="payment.day1" type="checkbox" value=""> Day
            1</label>
        </div>
        <div class="checkbox">
          <label><input #day2="ngModel" id="day2" name="day2" [(ngModel)]="payment.day2" type="checkbox" value=""> Day
            2</label>
        </div>
        <div class="checkbox">
          <label><input #day3="ngModel" id="day3" name="day3" [(ngModel)]="payment.day3" type="checkbox" value=""> Day
            3</label>
        </div>
        <div class="checkbox">
          <label><input #merchandise="ngModel" id="merchandise" name="merchandise" [(ngModel)]="payment.merchandise"
              type="checkbox" value=""> Merchandise</label>
        </div>
        <div class="checkbox">
          <label><input #accommodation="ngModel" id="accommodation" name="accommodation"
              [(ngModel)]="payment.accommodation" type="checkbox" value=""> Accommodation</label>
        </div>
      </div>
      <button type="submit" [disabled]="paymentForm.form.invalid" class="btn btn-primary">Submit</button>

    </form>
  </div>
</div>