<!--The content below is only a placeholder and can be replaced.-->
<app-sidebar></app-sidebar>
<br><hr><hr><br>
<div class="container-fluid">
  <router-outlet></router-outlet>
</div>
<div class="modal modal-static fade" id="processing-modal" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="text-center">
                    <img src="../assets/ajax-loader.gif" class="icon" />
                    <p id="processing-text"></p>
                </div>
            </div>
        </div>
    </div>
</div>