<div class="row">
  <div class="col-md-4">
  </div>
  <div class="col-md-4">
    <form #loginForm="ngForm" (submit)="onSubmit(loginForm)">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" #username="ngModel" id="username" name="username"
          [(ngModel)]="cusername" [class.is-invalid]="username.invalid && username.touched" required>
        <small class="text-danger" [class.d-none]="username.valid || username.untouched">Username is required.</small>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" #password="ngModel" id="password" name="password"
          [(ngModel)]="cpassword" [class.is-invalid]="password.invalid && password.touched" required>
        <small class="text-danger" [class.d-none]="password.valid || password.untouched">Password is required.</small>
      </div>
      <button type="submit" [disabled]="loginForm.form.invalid" class="btn btn-primary">Submit</button>

    </form>
  </div>
</div>