<div class="row">
  <div class="col-md-6">
    <h1 style="text-align: center">Instructions</h1>
    <hr>
    <ul>
      <li>This section is to check SAP details</li>
      <li>Use the dropout to select the SAP Id. Details will be displayed below.</li>
    </ul>
    <hr>
  </div>
  <div class="col-md-6">

    <form>
      <div class="form-group">
        <label for="SAPId">SAP Id</label>
        <select class="form-control" id="SAPId" #SAPId="ngModel" name="SAPId" [(ngModel)]="currentSAPId"
          [class.is-invalid]="SAPId.invalid && SAPId.touched" required (change)="onChange(SAPId.value)">
          <option *ngFor="let SAP of SAPs" value="{{SAP.SAPId}}">{{SAP.SAPId}} - {{SAP.SAPName}}</option>
        </select>
        <small class="text-danger" [class.d-none]="SAPId.valid || SAPId.untouched">SAP Id is required.</small>
      </div>
    </form>

    <div class="container-fluid">
      <div class="question">
        Name:
      </div>
      <div class="answer">
        {{SAPData.name}}
      </div>
      <div class="question">
        Email:
      </div>
      <div class="answer">
        {{SAPData.email}}
      </div>
      <div class="question">
        Phone Number:
      </div>
      <div class="answer">
        {{SAPData.phno}}
      </div>
      <div class="question">
        College:
      </div>
      <div class="answer">
        {{SAPData.college}}
      </div>
      <div class="question">
        Why do you wish to become the Student Ambassador of your college?
      </div>
      <div class="answer">
        {{SAPData.q1}}
      </div>
      <div class="question">
        How long have you been enrolled in your college?
      </div>
      <div class="answer">
        {{SAPData.q2}}
      </div>
      <div class="question">
        Do you have any other commitments in the month of January-February 2019?
      </div>
      <div class="answer">
        {{SAPData.q3}}
      </div>
      <div class="question">
        Do you have any club related experience in your college?
      </div>
      <div class="answer">
        {{SAPData.q4}}
      </div>

      <div class="question">
        How many participants can we expect if you are made the Student Ambassador?
      </div>
      <div class="answer">
        {{SAPData.q5}}
      </div>
    </div>
    <br>
    <br>
  </div>
</div>